@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.product-swiper .swiper-button-next,
.product-swiper .swiper-button-prev {
  color: #1e40af;
}

.product-swiper .swiper-pagination-bullet-active {
  background: #1e40af;
}
